#body_EditarCotizacion {
    width: calc(100% - 60px );
    min-height: 100vh;
    margin-left: 60px;
    padding-top: 20px;
    margin-bottom: 30px;
    background-color: var(--backgroundPrimary);
}

.renglon-disable {
    background: rgba(94,94,94,0.2);
}

.renglon-disable > .img-art-eliminado {
    margin: 0px;
    font-size: 1em;
}

.not-allowed {
    cursor: not-allowed;
}


.comment{
	color: var(--colorAccent);
}