#body_seguimiento {
	width:calc(100% - 60px );
	min-height:100vh;
	margin-left:60px;
	padding-top: 20px;
	margin-bottom: 30px;
	background-color: var(--backgroundPrimary);
}
.cardHeader{
	background-color: var(--colorprimary) !important;
	color: #fff !important;
}
.RowContainer{
	margin-bottom: 20px;
}
.myButtonBuscar{
	width: 100%;	
}

.ajusteBotonSeguimiento{
	width: 206px;
	background-color: var(--colorprimary) !important;
	border-color: var(--colorprimary) !important;
}

.ajusteBotonCantidad{
	background-color: var(--colorprimary) !important;
	border-color: var(--colorprimary) !important;
}

.cuerpoModal{
	text-align: center;
}
.pieModal{
	align-self: center;
}
.botonCerrar{
	border-bottom: none !important;
	background-color: var(--colorprimary) !important; 
	color:#fff;
}

.botonCerrar bottom span {
	color:#fff ! important;
}

.modal-90w{
	width: 95% ! important;
	max-width: 95% ! important;
}
.divisorLine{
	border:none;
	border-top: 0.2px solid var(--borderForm);
	color:#fff;
	background-color:#fff;
	margin-bottom: 30px;
	height:1px;
	width: 95%;
}

.row100W{
	width: 98% ! important;
	margin-left: 1% ! important;
	margin-right: 1% ! important;
}

.contactCol{
	text-align: right;
}

.contactCol a{
	font-family: 'Nunito', sans-serif !important;
	margin: 5px ! important;
	font-size: medium;
}

.hiddenButton{
	display: none !important;
	text-align: center;
}

.showButton{
	text-align: center;
	margin-bottom: 10px;
}

    